# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ===== Virtual Environments =====
venv/
.env
.env.*

# ===== Pytest =====
.pytest_cache/
.coverage
htmlcov/

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store

# ===== Database =====
*.sqlite3
*.db

# ===== Logs =====
*.log

# ===== Build / Distribution =====
build/
dist/
*.egg-info/

# ===== Jupyter =====
.ipynb_checkpoints/


media/signatures/*
!media/signatures/.gitkeep